.parrafonosotros1, .parrafoservicios {
  background-color: rgb(243, 236, 236);
  font-family: arial;
  color: gray;
}

.parrafonosotros2 {
  background-color: #9fd3c7;
  font-family: times;
  color: gray;
}

.parrafoservicios {
  background-color: #385170;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
  text-decoration: none;
}

h1 {
  color: rgb(243, 236, 236);
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  margin: 50px 0px 10px 0px;
  background-image: linear-gradient(to left top, rgb(23, 134, 209), violet);
}

h2 {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  margin: 30px 0px 20px 0px;
  background-color: rgb(243, 236, 236);
  color: #A4A8DB;
}

p {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

a:hover {
  text-decoration: overline;
}

.copy {
  font-family: "Times New Roman", Times, serif;
  color: rgb(243, 236, 236);
}

footer {
  padding: 10px 10px;
  margin-top: 50px;
  background-color: #60BCDB;
  opacity: 80%;
}

.h2index {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: right;
}

@keyframes imagenindex {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.interiorcasa {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 30px;
}
.interiorcasa img {
  animation-name: imagenindex;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  width: 400px;
}

.email {
  font-style: italic;
  color: grey;
  background-color: snow;
  height: 50px;
}

.mapacontacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.menunosotroscontenedor {
  display: flex;
}
.menunosotroscontenedor .menunosotros {
  position: fixed;
  top: 90%;
  z-index: 1;
}
.menunosotroscontenedor .menunosotros a {
  color: rgb(126, 13, 126);
  font-size: x-large;
  font-family: fantasy;
}

.alquiler {
  text-align: center;
}

/* Inicio Grilla */
.grids {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 0.15fr 1fr 1fr;
  grid-template-areas: "h2store h2store" "casa1 casa2" "casa3 casa4";
  justify-content: center;
  row-gap: 100px;
  column-gap: 100px;
}
.grids .h2store {
  grid-area: h2store;
  text-align: center;
}
.grids .casa1 {
  grid-area: casa1;
  object-fit: cover;
  text-align: center;
  color: brown;
}
.grids .casa2 {
  grid-area: casa2;
  text-align: center;
  color: brown;
}
.grids .casa3 {
  grid-area: casa3;
  text-align: center;
  color: brown;
}
.grids .casa4 {
  grid-area: casa4;
  text-align: center;
  color: brown;
}

/*Fin Grilla*/
/* Responsive Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: black;
  }
  body p {
    color: white;
  }
  .parrafonosotros1 p, .parrafoservicios p {
    color: black;
  }
  img {
    width: 75%;
  }
}
/*Fin Responsive Tablet*/
/* Resposive Mobile */
@media screen and (max-width: 768px) {
  /* Store */
  .grids {
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "h2store" "casa1" "casa2" "casa3" "casa4";
  }
  .grids img {
    width: 80%;
  }
  /* Fin Resposive Mobile*/
  /* Global */
  h1 {
    display: flex;
    justify-content: center;
  }
  /* Fin Global */
  /* Index */
  .h2index {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
  }
  .interiorcasa {
    width: 75%;
    margin: auto;
  }
  .interiorcasa img {
    width: 100%;
  }
  /* Fin Index */
  /* Contacto*/
  .mapacontacto {
    width: 75%;
    margin: auto;
  }
  .mapacontacto .iframe1 {
    width: 100%;
  }
}
/* Fin Contacto */

/*# sourceMappingURL=styles.css.map */
