/* Comentarios 

selector { propiedad: valor; } */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    text-decoration: none;
}

h1 {
    background-color: rgb(23, 134, 209);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    margin: 50px 0px 10px 0px;
}

h2 {
    padding: 20px 10px;
    margin: 30px 10px 20px 0px;
    background-color: beige;
    color:brown
}



/* Estilos Puntuales */

.colorp { 
    color: gray;
}

.tipografiap { 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.email {
    font-style: italic;
    color: grey;
    background-color: snow;
    height: 50px;
    align-content: center;
}   

.copy {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}   

.interiorcasa {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.h2index { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

/* Footer */

footer { 
    padding: 50px 10px;
}


/* GRILLA DE FOTOS STORE */

.grids {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 0.15fr 1fr 1fr;
    grid-template-areas:
    'h2store h2store' 
    'casa1 casa2'
    'casa3 casa4';

    justify-content: center;
    row-gap: 100px;
    column-gap: 100px; 
}

section .h2store {
    grid-area: h2store;
    text-align: center;
}

.casa1 {
    grid-area: casa1;
    object-fit: cover;
    text-align: center;
    color: brown;
}

.casa2 {
    grid-area: casa2;
    text-align: center;
    color: brown;
}

.casa3 {
    grid-area: casa3;
    text-align: center;
    color: brown;
    
}

.casa4 {
    grid-area: casa4;
    text-align: center;
    color: brown;
}

/* Fin Grid */



a:hover { 
    text-decoration: overline
}

.alquiler {
    text-align: center;
}



/* MEDIA QUERY A MOBILE */

@media screen and (max-width: 768px) {


    /* Store */
    .grids {
        grid-template-columns: 1fr;
        grid-template-rows: 0.05fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'h2store'
        'casa1'
        'casa2'
        'casa3'
        'casa4';
    }

   



    /* INDEX */
    h1 {
    display: flex;
    justify-content: center;
    background-color: red;
    }

    .h2index { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    }


    .interiorcasa {
        width: 75%;
        margin: auto;
    }

    img {
        width: 100%;
    }


}
    
