.email {
    font-style: italic;
    color: grey;
    background-color: snow;
    height: 50px;
    
}

.mapacontacto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 40px;
}

