.h2index { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: right;
}

@keyframes imagenindex { 
    0% {opacity: 1;}
    25% {opacity: 0.8;}
    50% {opacity: 0.4;}
    75% {opacity: 0.8;}
    100% {opacity: 1;}   
}

.interiorcasa {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 30px;

    img{
        animation-name: imagenindex;
        animation-iteration-count:infinite;
        animation-duration: 3s;
        animation-timing-function: ease-in;
        animation-delay: 1s;

        width: 400px;
    }
        
}

