/* Responsive Tablet */

@media screen and (min-width: 769px) and (max-width:1024px) {

    body{
        background-color: black;
        p{
            color: white;
        }
    }
    
    .parrafonosotros1 {
        p{
            color: black;
        } 
    }

    img{
        width: 75%;
    }
}

/*Fin Responsive Tablet*/


/* Resposive Mobile */

@media screen and (max-width: 768px) {


    /* Store */
    .grids {
        grid-template-columns: 1fr;
        grid-template-rows: 0.05fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'h2store'
        'casa1'
        'casa2'
        'casa3'
        'casa4';

        img{
            width: 80%;
        }
    }

/* Fin Resposive Mobile*/


/* Global */

    h1 {
    display: flex;
    justify-content: center;
    }

/* Fin Global */


/* Index */

    .h2index { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    }


    .interiorcasa {
        width: 75%;
        margin: auto;
    

        img {
            width: 100%;
        }
    }   

/* Fin Index */

/* Contacto*/

    .mapacontacto {
        width: 75%;
        margin: auto;
    

        .iframe1 {
         width: 100%;
        }
    }
}

/* Fin Contacto */


