@mixin parrafo($fondo, $fuente){
    background-color: $fondo;
    font-family: $fuente;
    color: gray;
}

.parrafonosotros1{
    @include parrafo( $col-blanco, arial)
}

.parrafonosotros2{
    @include parrafo(#9fd3c7, times)
}